
/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
} */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 200px;
}

.button {
  /* border-radius: 4px;
  background-color: #2f2827;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
 
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.hell{
  background: url(./bg.jpg);
  background-size: cover;
  /* background-size: 1530px 709px ; */
  /* background-repeat: no-repeat; */
  
  display: flex;
  justify-content: center;
  
}
h1{
color: azure;
}
.heaa{
  color: #f1f1f1;
  
}